<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }} - My Simple Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>{{ post.title }}</h1>
        <hr>
        {% if post %}
            <div class="card">
                <div class="card-body">
                    <!-- Render the Markdown content -->
                    {{ post.content|markdown }}
                    <p class="card-text"><small class="text-muted">{{ post.date_posted }}</small></p>
                </div>
            </div>
        {% else %}
            <p>Blog post not found!</p>
        {% endif %}
    </div>
</body>
</html>
